$background--dark: hsl(208, 37%, 20%);
$color--dark: hsl(0, 0%, 100%);
$background--light: hsl(48, 100%, 93%);
$color--light: hsl(208, 37%, 20%);
$light: "light";
$dark: "dark";


$font-size: 1em;
$font-weight: 500;

$font-family-sans: 'Lato', sans-serif;
$font-family-serif: 'Solway', serif;

$size-default: 100%;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: $size-default;
  height: $size-default;


  body {
    width: $size-default;
    height: $size-default;
    font-family: $font-family-sans;
    font-size: $font-size;
    font-weight: $font-weight;

    &[data-scheme$=light] {
      color: $color--light;
      background-color: $background--light;

      button {
        color: $color--light;
      }
    }

    &[data-scheme$=dark] {
      color: $color--dark;
      background-color: $background--dark;

      button {
        color: $color--dark;
      }
    }
  }
}


a {
  text-decoration: none;

  &:link:visited:hover:active {
    text-decoration: none;
  }
}

/* TYPING */

h1 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
  text-shadow: 4px 2px 6px rgba(154, 154, 154, 1);
}

h2,
h3,
h4,
h5,
h6,
p {
  letter-spacing: 1px;
  text-align: justify;
  text-shadow: 4px 2px 3px rgba(154, 154, 154, 1);
}

h6 {
  font-size: 0.75em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 0.875em;
}

h6,
p {
  font-size: 0.75em;
}

p {
  text-shadow: none;
}

ul,
ol {
  &>li {
    list-style: none;
    cursor: pointer;
  }
}

span {
  cursor: pointer;
}

button {
  background: transparent;
  border: none;
}

article {
  text-align: justify;
  font-size: 1.6em;
}